.Question{
    padding: 20px;
    & .question{
        width: 100%;
        display: flex;
        justify-content: center; 
        & >h3{
            border: 3px solid black;
            padding: 13px;
            border-radius: 10px;
        }
    }
    & .answers{
        display: flex;
        gap: 10px;
        flex-direction: column;
        & .ant-btn{
            
            border: 1px solid black;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
    }
    & .buttons{
        margin-top: 20px;
        justify-content: center;
        display: flex;
        gap: 20px;
        
        & .ant-btn{
            
            background-color: bisque;
        }
    }
}